*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FEFAE0;
}

.container{
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
    border-radius: 20px;
    background: rgb(221,161,94);
    background: linear-gradient(90deg, rgba(221,161,94,1) 0%, rgba(188,108,37,1) 100%);
    overflow-x: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.one span{
    text-align: left;
}


.big pre{
    width: 100%;
    font-size: x-large;
    padding: 30px;
    background-color:#DDA15E;
    /* background-color:#FEFAE0; */
    text-align: center ;
    border-radius: 15px;
    color: #283618;
}

.container .names{
    display: flex;
    flex-direction: column;
}

.container .names span{
    height: 25px;
    margin: 5px;
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container .input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.container .input input{
    height: 25px;
    width: 200px;
    margin: 5px;
    background-color: #FEFAE0;
    border-radius: 10px;
}


.big #button button{
    margin-top: 40px;
    margin-left: 42%;
    width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    border-radius: 15px;
    background-color: #283618;
    color: white;
}



























/* body{
    background-color: #FEFAE0;
}
h1{
    text-align: center;
    background-color:#FEFAE0;
    border-radius: 15px;
    color: #283618;
}
.container{
    width: 50vw;
    border: 2px solid #606C38;
    border-radius: 5px;
    margin-top: 15vh;
    margin-left: 25vw;
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    align-items: center;   
    background-color: #DDA15E;  
 
}
.one{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    width:50%;
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-self:space-around ;


} */
